// .footer-nav {
//   flex: 1 1 300px;
// }


.footer-nav__title {
  @include reset;

  margin-bottom: 24px;

  font-size: 1.5rem;
  line-height: 1.33;
  color: $color--accent;
}


.footer-nav__list {
  @include reset-list;
}


.footer-nav__item {
  margin-bottom: 16px;
}


.footer-nav__link {
  font-weight: 500;
  color: inherit;

  @include hover-nav;
}
