.footer-info {
  max-width: 390px;
}


.footer-info__logo {
  margin-bottom: 24px;
}


.footer-info__slogan {
  @include reset;

  margin-bottom: 122px;
}


.footer-info__social {
  display: none;
}


.footer-info__copyright {
  @include reset;

  font-weight: 500;
  color: $color--white-50;
}


@media (max-width: $desktop-width) {
  .footer-info {
    flex-shrink: 2;
  }
}


@media (max-width: $desktop-width--min) {
  .footer-info {
    align-self: center;

    text-align: center;
  }


  .footer-info__logo {
    margin: 0 auto 24px;
  }
}


@media (max-width: $tablet-width) {
  // .footer-info {
  //   align-self: center;
  // }
  .footer-info__slogan {
    margin-bottom: 61px;
  }


  .footer-info__social {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 61px;
  }
}
