.footer-info {
  max-width: 390px;
}


.footer-info__logo {
  margin-bottom: 24px;
}


.footer-info__slogan {
  @include reset;

  margin-bottom: 122px;
}


.footer-info__social {
  display: none;
}


.footer-info__copyright {
  @include reset;

  font-weight: 500;
  color: $color--white-50;
}

@media (max-width: $tablet-width) {
  .footer-info__slogan {
    margin-bottom: 61px;
  }

  .footer-info__social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-bottom: 61px;
  }
}

