.intro {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  max-width: 1300px;
  padding: 0 9vw;

  // position: relative;

//  ----------------------
  // margin: 0 auto;
  position: absolute;
  // left: 50%;
  top: 5%;
  // width: auto;
}


.intro__pretitle {
  margin-bottom: 32px;
}


.intro__title {
  @include reset;

  margin-bottom: 32px;

  // font-size: 5.5rem;
  font-size: calc(var(--index) * 2.8);
  line-height: 1.14;
}


// .intro__link {
// }


// .no-js .intro {
//   top: 24%;
// }


@media (max-width: $desktop-width--min) {
  .intro {
    // top: 25%;
    position: static;
  }
}


// @media (max-width: $tablet-width) {
//   .no-js {
//     .intro {
//       margin-top: 240px;
//       top: 10%;
//     }
//   }
// }
