.logo {
  display: flex;
  color: $color--white;
  // color: inherit;
  width: 108px;
  // justify-content: center;
  // align-items: center;

  // &:hover {
  //   color: $color--accent;
  // }

  @include hover-nav;
}


.logo__img {
}
