.main-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}


.main-nav__list {
  @include reset-list;

  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.main-nav__item {
}


.main-nav__link {
  @include hover-nav;

  display: block;
  padding: 10px 30px;

  color: inherit;

}
