.page-header {
  min-height: 100vh;
  position: absolute;

  width: 100%;
}


.page-header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.page-header__nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  padding: 10px 0;

  background-color: transparent;

  transition: background 0.5s;


  &--scroll {
    background-color: $color-bg--black;

    transition: background 0.6s;
  }
}


// .page-header__logo {
// }


.page-header__burger {
  display: none;
}


// .page-header__main-nav {
// }


.page-header__social {
  position: fixed;
  top: 40vh;
  left: 2vw;
  z-index: 4;


  @media (min-width: $desktop-width--header) {
    left: calc((100% - $desktop-width--header) / 2 + 2vw);
  }
}


.page-header__sidenav {
  position: fixed;
  top: 40vh;
  right: 2vw;
  z-index: 4;


  @media (min-width: $desktop-width--header) {
    right: calc((100% - $desktop-width--header) / 2 + 2vw);
  }
}


@media (max-width: $desktop-width--min) {
  .page-header__burger {
    box-sizing: content-box;
    position: relative;

    display: block;

    width: 40px;
    height: 2px;

    padding: 20px;


    background-color: $color--white;
    background-clip: content-box;

    border: none;

    cursor: pointer;



    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 20px;

      width: 40px;
      height: 2px;

      background-color: $color--white;

      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::before {
      top: 10px;
    }

    &::after {
      top: 30px;
    }


    &:hover,
    &:focus {
      background-color: $color--accent;

      &::before,
      &::after {
        background-color: $color--accent;
      }
    }


    &:active {
      background-color: $color--accent-80;

      &::before,
      &::after {
        background-color: $color--accent-80;
      }
    }


    &--open {
      background-color: transparent;

      &::before,
      &::after {
        top: 50%;
        left: 20px;

        width: 40px;
        height: 2px;

        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);

        background-color: $color--white;
      }


      &::before {
        transform: rotate(45deg);
      }


      &::after {
        transform: rotate(-45deg);
      }


      &:hover,
      &:focus {
        background-color: transparent;

        &::before {
          background-color: $color--accent;
        }


        &::after {
          background-color: $color--accent;
        }
      }


      &:active {
        background-color: transparent;

        &::before {
          background-color: $color--accent-80;
        }


        &::after {
          background-color: $color--accent-80;
        }
      }
    }
  }


  .page-header__sidenav {
    display: none;
  }


  .page-header__social {
    display: none;
  }
}


.no-js {
  .page-header__nav-wrapper {
    position: relative;
  }



  .page-header__burger {
    display: none;
  }

  .page-header__main-nav {
    display: flex;
  }
}


@media (max-width: $tablet-width) {
  .no-js {
    .page-header__main-nav {
      flex-direction: column;
    }

    .page-header__flex {
      flex-direction: column;
    }
  }
}
